@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding: 10vh;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  width: 100%;
  background-color: #F4F4F4;
}

a {
  text-decoration: none;
}

.no-scroll {
  overflow: hidden;
}

.loader-wrapper {
  width: 100vw;
  height: 100vh;
  background: #F4F4F4;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 99999;
  overflow: hidden;
}

.loader {
  display: inline-block;
  width: 30px;
  height: 60px;
  position: relative;
  border: 4px solid #48286B;
  -webkit-animation: loader 2s infinite ease;
          animation: loader 2s infinite ease;
  border-radius: 20px;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #48286B;
  -webkit-animation: loader-inner 2s infinite ease-in;
          animation: loader-inner 2s infinite ease-in;
}

.hide {
  -webkit-animation: fadeOut 1s;
          animation: fadeOut 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.contain {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 768px) {
  .contain {
    max-width: 750px;
  }
}

@media screen and (min-width: 992px) {
  .contain {
    max-width: 970px;
  }
}

@media screen and (min-width: 1200px) {
  .contain {
    max-width: 1170px;
  }
}

.fade-in {
  -webkit-animation: fadeIn ease-in-out 0.5s;
          animation: fadeIn ease-in-out 0.5s;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.mynav {
  background: #48286B;
  padding: 1.4rem;
  min-height: 10vh;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.nav-scroll {
  -webkit-box-shadow: 0px 20px 25px -17px rgba(30, 30, 60, 0.671), 0px 20px 65px -27px rgba(30, 30, 60, 0.39);
          box-shadow: 0px 20px 25px -17px rgba(30, 30, 60, 0.671), 0px 20px 65px -27px rgba(30, 30, 60, 0.39);
  background: #48286be1;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  border-bottom: none;
}

.nav-scroll a {
  color: #F4F4F4 !important;
}

@supports ((-webkit-backdrop-filter: blur()) or (backdrop-filter: blur())) {
  .nav-scroll {
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
  }
}

#nav a {
  color: #F4F4F4;
  font-size: 1.25rem;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

#nav a:hover {
  color: #DC96BA;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

#nav .navbar-toggler {
  z-index: 999;
}

#nav .navbar-brand {
  font-size: 1.8rem;
}

#nav .navbar-brand span {
  font-weight: bold;
  color: #DC96BA;
}

#nav .kolo {
  background: #7D4B8A;
  padding: 0.9rem 1.2rem;
  border-radius: 5px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  margin: 0.5rem 0rem !important;
}

#nav .kolo a {
  color: #F4F4F4;
}

#nav .kolo:hover {
  background: #ff7f07;
  color: #F4F4F4 !important;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

#nav .kolo-white {
  background: #F4F4F4;
  color: #48286B !important;
}

#nav .nav-item {
  margin: 1rem 1rem;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
}

#HeroCarousel {
  position: relative;
  height: 100vh;
  width: 100%;
}

#HeroCarousel .carousel-control-next,
#HeroCarousel .carousel-control-prev {
  z-index: 100;
}

#HeroCarousel .carousel-inner {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #000;
}

#HeroCarousel .carousel-inner::before {
  position: absolute;
  content: '';
  background: rgba(220, 150, 186, 0.76);
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  z-index: 2;
  border-right: 1px solid rgba(255, 255, 255, 0.219);
  -webkit-box-shadow: 34px 0px 43px -12px rgba(18, 18, 20, 0.178);
          box-shadow: 34px 0px 43px -12px rgba(18, 18, 20, 0.178);
}

#HeroCarousel .carousel-inner .carousel-item {
  height: 100%;
  width: 100%;
  position: relative;
  background: url("../img/slide-1.png") no-repeat center center/cover;
}

#HeroCarousel .carousel-inner .carousel-item:nth-child(2) {
  background: url("../img/slide-2.png") no-repeat center center/cover;
}

#HeroCarousel .carousel-inner .carousel-item:nth-child(3) {
  background: url("../img/slide-3.png") no-repeat top center/cover;
}

@media (max-width: 500px) {
  #HeroCarousel .carousel-inner .carousel-item:nth-child(3) {
    background: url("../img/slide-3.png") no-repeat top right/cover;
  }
}

#HeroCarousel .carousel-inner .carousel-item .caption {
  color: #F4F4F4;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: auto;
  width: auto;
  z-index: 99;
}

#HeroCarousel .carousel-inner .carousel-item .caption .push {
  margin-left: 10rem;
}

#HeroCarousel .carousel-inner .carousel-item .caption h1 {
  font-size: 6rem;
  font-weight: bolder;
  line-height: 7rem;
}

#HeroCarousel .carousel-inner .carousel-item .caption h2 {
  font-size: 2.1rem;
}

#HeroCarousel .carousel-inner .carousel-item .caption .cta {
  background-color: #7D4B8A;
  padding: 1rem 3rem;
  color: #F4F4F4;
  margin-top: 1rem;
  border: none;
  border-radius: 5px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#HeroCarousel .carousel-inner .carousel-item .caption .cta:hover {
  background-color: #F4F4F4;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#HeroCarousel .carousel-inner .carousel-item .caption .cta a {
  color: #F4F4F4;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#HeroCarousel .carousel-inner .carousel-item .caption .cta:hover a {
  color: #7D4B8A !important;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

@supports ((-webkit-backdrop-filter: blur()) or (backdrop-filter: blur())) {
  #HeroCarousel .carousel-inner::before {
    background: rgba(220, 150, 186, 0.137);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    border-right: 1px solid rgba(255, 255, 255, 0.219);
    -webkit-box-shadow: 34px 0px 43px -12px rgba(18, 18, 20, 0.178);
            box-shadow: 34px 0px 43px -12px rgba(18, 18, 20, 0.178);
  }
}

#featured {
  background-color: #fff;
  min-height: 10vh;
  padding: 2rem;
}

#featured .img-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-filter: opacity(0.4);
          filter: opacity(0.4);
}

#featured .img-cont img {
  width: 10rem;
  height: auto;
}

#about-us {
  min-height: 100%;
  background: url("../img/abt-us-bg.png") no-repeat center center/cover;
}

#about-us .inner {
  padding: 5rem;
}

#about-us .inner .content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-right: 5rem;
}

#about-us .inner h2 {
  font-size: 5rem;
  font-weight: bold;
  color: #48286B;
  position: relative;
}

#about-us .inner p {
  color: #575757;
  font-size: 1.45rem;
}

#about-us .inner a {
  color: #7D4B8A;
  font-weight: 500;
}

#about-us .inner .img-contain {
  width: 50vw;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about-us .inner .img-contain img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  -webkit-box-shadow: 0px 20px 25px -17px rgba(30, 30, 60, 0.39), 0px 20px 65px -27px rgba(30, 30, 60, 0.39);
          box-shadow: 0px 20px 25px -17px rgba(30, 30, 60, 0.39), 0px 20px 65px -27px rgba(30, 30, 60, 0.39);
}

#service {
  min-height: 90vh;
  background-color: #48286B;
  max-width: 100vw;
  color: #F4F4F4;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

#service .h2 {
  font-size: 5rem;
}

#service .h2 span {
  font-weight: bolder;
}

#service .title-text {
  font-size: 1.5rem;
}

#service .kards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#service .kards .kard {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25rem;
          flex: 0 1 25rem;
  text-align: center;
  background-color: #513272;
  padding: 2rem;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

#service .kards .kard:hover {
  -webkit-box-shadow: 0px 15px 25px -4px rgba(30, 30, 60, 0.3);
          box-shadow: 0px 15px 25px -4px rgba(30, 30, 60, 0.3);
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

#service .kards .kard img {
  width: 40px;
}

#service .kards .kard .title {
  font-size: 2rem;
  font-weight: bolder;
  margin: 1rem 0;
}

#service .kards .kard .body {
  font-size: 1.3rem;
  margin: 2rem 0;
}

#service .kards .kard a {
  text-decoration: none;
  border: 1px solid #F4F4F4;
  color: #F4F4F4;
  padding: 1rem 2rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  display: block;
  -webkit-transition: 0.1s all linear;
  transition: 0.1s all linear;
}

#service .kards .kard a:hover {
  background-color: #F4F4F4;
  border: none;
  color: #48286B;
  -webkit-transition: 0.1s all linear;
  transition: 0.1s all linear;
}

#director {
  min-height: 70vh;
  background: url("../img/dir-bg.png") no-repeat center center/cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#director h2 {
  font-size: 5rem;
  width: 50%;
  text-align: center;
  color: #48286B;
}

#director h2 span {
  font-weight: bolder;
}

#director .inner {
  padding: 5rem 3rem;
  background-color: #E2E1E6;
  width: 70%;
  border-radius: 10px;
}

#director .inner p {
  color: #48286B;
}

#director .inner p span {
  margin-top: 2rem;
}

#blog {
  background-color: #48286B;
  min-height: 80vh;
  color: #F4F4F4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3rem;
}

#blog h2 {
  font-size: 5rem;
  text-align: center;
}

#blog h2 span {
  font-weight: bolder;
}

#blog .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#blog .main .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#blog .main .inner .kard {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30rem;
          flex: 0 1 30rem;
  margin: 1rem;
  overflow: hidden;
  background-color: #4F336F;
  border-radius: 10px;
  height: auto;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#blog .main .inner .kard:hover {
  -webkit-box-shadow: 0px 21px 51px -17px rgba(30, 30, 60, 0.51), 0px 21px 51px -17px rgba(30, 30, 60, 0.05);
          box-shadow: 0px 21px 51px -17px rgba(30, 30, 60, 0.51), 0px 21px 51px -17px rgba(30, 30, 60, 0.05);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

#blog .main .inner .kard .img-holder {
  width: 100%;
  height: auto;
  overflow: hidden;
}

#blog .main .inner .kard .img-holder img {
  -webkit-transition: 0.2s ease-in-out all;
  transition: 0.2s ease-in-out all;
}

#blog .main .inner .kard .img-holder img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.2s ease-in-out all;
  transition: 0.2s ease-in-out all;
}

#blog .main .inner .kard .details {
  font-size: 1.2rem;
  margin-left: 1.8rem;
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#blog .main .inner .kard .details p {
  display: inline-block;
  margin-bottom: 0;
  margin-left: 2rem;
}

#blog .main .inner .kard .kard-body {
  padding: 1rem 2rem;
}

#blog .main .inner .kard .kard-body .kard-title {
  font-size: 2rem;
}

#blog .main .inner .kard .kard-body a {
  color: #F4F4F4;
  border: 1px solid #F4F4F4;
  border-radius: 5px;
  display: block;
  padding: 1.5rem 0;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  text-decoration: none;
}

#blog .main .inner .kard .kard-body a:hover, #blog .main .inner .kard .kard-body a:focus {
  border: none;
  color: #48286B;
  background-color: #F4F4F4;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

#kolomoni {
  height: auto;
  background-color: #252525;
  padding: 1rem 0;
}

#kolomoni .k {
  height: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

#kolomoni .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#kolomoni .body {
  font-size: 1rem;
  width: 60%;
  color: #F4F4F4;
}

#kolomoni .body p {
  display: inline;
}

#kolomoni .cta {
  background-color: #ff7f07;
  color: #F4F4F4;
  padding: 1rem 2rem;
  border-radius: 5px;
  text-decoration: none;
  -webkit-transition: 0.2s all linear;
  transition: 0.2s all linear;
}

#kolomoni .cta:hover {
  background-color: #35338b;
  -webkit-transition: 0.2s all linear;
  transition: 0.2s all linear;
}

#kolomoni .img {
  width: 10rem;
}

#kolomoni .img img {
  width: 100%;
}

#contact {
  min-height: 100%;
  background-color: #F4F4F4;
}

#contact .outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#contact .outer .img-container {
  width: 50%;
  height: 100%;
}

#contact .outer .img-container img {
  height: auto;
  width: 100%;
}

#contact .outer .form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 3rem;
}

#contact .outer .form-container .title h2 {
  font-size: 5rem;
  color: #48286B;
}

#contact .outer .form-container .title h2 span {
  font-weight: bolder;
}

#contact .outer .form-container .title p {
  color: #575757;
}

#contact .outer .form-inputs form {
  color: #252525;
}

#contact .outer .form-inputs form .my-form {
  padding: 2rem;
  background-color: #ECECEC;
  border: none;
}

#contact .outer .form-inputs form label {
  font-size: 1.2rem;
}

#contact .outer .form-inputs form .btn {
  padding: 1.2rem 3rem;
  background-color: #7D4B8A;
  border: none;
  font-size: 1.2rem;
}

#testimonials {
  min-height: 80vh;
  width: 100%;
  background-color: #48286B;
  color: #F4F4F4;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

#testimonials .title {
  text-align: center;
}

#testimonials .title h2 {
  font-size: 5rem;
}

#testimonials .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#testimonials .cards .card {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30rem;
          flex: 0 1 30rem;
  background-color: #4F336F;
  border: none;
  border-radius: 10px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 2rem;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

#testimonials .cards .card:hover {
  -webkit-box-shadow: 0px 15px 25px -4px rgba(30, 30, 60, 0.25);
          box-shadow: 0px 15px 25px -4px rgba(30, 30, 60, 0.25);
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

#testimonials .cards .card .card-head {
  background-color: #4C2E6D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}

#testimonials .cards .card .card-head img {
  width: 80px;
}

#testimonials .cards .card .card-head .name {
  margin-left: 2rem;
}

#testimonials .cards .card .card-head .name h3 {
  font-size: 1.8rem;
  margin-bottom: 0;
}

#testimonials .cards .card .card-head .name p {
  font-size: 1rem;
}

#testimonials .cards .card .card-body {
  font-size: 1.5rem;
  text-align: center;
}

#testimonials .cards .card .card-stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#footer {
  min-height: 50vh;
  background-color: #252525;
  color: #F4F4F4;
}

#footer .address {
  margin: 3rem 0;
}

#footer .address .title h3 {
  display: inline;
  margin-left: 1rem;
}

#footer .address p {
  font-size: 1.2rem;
}

#footer .site-links {
  height: 100%;
  border-left: 1px solid #575757;
  border-right: 1px solid #575757;
  padding: 2rem;
}

#footer .site-links a {
  color: #F4F4F4;
  text-decoration: none;
  -webkit-transition: 0.2s all linear;
  transition: 0.2s all linear;
  display: block;
  margin: 3rem 0;
}

#footer .site-links a:hover {
  color: #7D4B8A;
  -webkit-transition: 0.2s all linear;
  transition: 0.2s all linear;
}

#footer .site-links h3 {
  text-align: center;
  font-weight: bolder;
}

#footer .site-links .lnk a {
  text-align: right;
}

#footer .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

#footer .content h2 {
  font-size: 5rem;
}

#footer .content h2 span {
  color: #7D4B8A;
  font-weight: bolder;
}

#footer .content .soc-icons img {
  margin: 0 1rem;
}

@media (max-width: 500px) {
  html {
    font-size: 50%;
    scroll-padding: 10%;
  }
  .mynav {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    min-height: auto;
    padding: 2rem;
  }
  #nav a {
    font-size: 1.6rem;
  }
  #nav .nav-item {
    margin: 0.8rem 0;
  }
  #hero .up {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    text-align: center;
    width: 100vw;
  }
  #HeroCarousel .carousel-inner .carousel-item .caption {
    top: 70%;
    width: 100%;
    text-align: center;
  }
  #HeroCarousel .carousel-inner .carousel-item .caption .push {
    margin-left: 0;
  }
  #HeroCarousel .carousel-inner::before {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.651);
  }
  @supports ((-webkit-backdrop-filter: blur()) or (backdrop-filter: blur())) {
    #HeroCarousel .carousel-inner::before {
      background: rgba(0, 0, 0, 0.5);
      -webkit-backdrop-filter: blur(2px);
              backdrop-filter: blur(2px);
    }
  }
  #about-us .inner {
    padding: 2rem 1rem;
  }
  #about-us .inner .content {
    text-align: center;
    padding: 0;
  }
  #service {
    padding: 2rem;
  }
  #service .kards {
    margin-bottom: 2rem;
  }
  #service .kards .kard {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 40rem;
            flex: 0 1 40rem;
  }
  #director {
    padding: 3rem;
  }
  #director h2 {
    font-size: 2.5rem;
  }
  #director .inner {
    width: 100%;
    padding: 1rem 2rem;
    margin: 2rem 0;
  }
  #blog .main .inner {
    margin: 2rem 0;
  }
  #blog .main .inner .kard {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 40rem;
            flex: 0 1 40rem;
    margin: 0;
    margin: 2rem 0;
  }
  #kolomoni {
    padding: 2rem;
  }
  #kolomoni .inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  #kolomoni .inner .body {
    margin: 2rem 0;
    width: 100%;
  }
  #kolomoni .inner .img {
    width: 5rem;
  }
  #testimonials .cards .card {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 40rem;
            flex: 0 1 40rem;
  }
  #footer .site-links {
    border: none;
  }
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}

@-webkit-keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
/*# sourceMappingURL=main.css.map */